<!DOCTYPE html>
<html>
<head>
  <title>POKEY Controller</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div ng-app='pokeyCtrl' ng-controller='pokeyCtrl'>
    <h1>POKEY Controller</h1>
    <div ng-init="onoff='off'">
      <label>
        <input type='radio' ng-model='onoff' ng-change='sendOnoff(onoff)' value='on'>
        Ch. 1 sound on (volume = 7)
      </label>
      <label>
        <input type='radio' ng-model='onoff' ng-change='sendOnoff(onoff)' value='off'>
        Ch. 1 sound off (volume = 0)
      </label>
    </div>
    <h3>AUDC1</h3>
    <label class='yaba'>
      Bit7
      <input type='checkbox' ng-model='audc1[7]' ng-checked='audc1[7]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit6
      <input type='checkbox' ng-model='audc1[6]' ng-checked='audc1[6]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit5
      <input type='checkbox' ng-model='audc1[5]' ng-checked='audc1[5]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit4
      <input type='checkbox' ng-model='audc1[4]' ng-checked='audc1[4]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit3
      <input type='checkbox' ng-model='audc1[3]' ng-checked='audc1[3]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit2
      <input type='checkbox' ng-model='audc1[2]' ng-checked='audc1[2]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit1
      <input type='checkbox' ng-model='audc1[1]' ng-checked='audc1[1]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>
    <label class='yaba'>
      Bit0
      <input type='checkbox' ng-model='audc1[0]' ng-checked='audc1[0]' ng-change='sendRegister("audc1", audc1)' name='audc1[]'>
    </label>

    <label class='audf'>
      <input type='text' ng-model='audf1' ng-model-options="{updateOn: 'blur'}" ng-change='sendRegister("audf1", audf1)'>AUDF1
    </label>

    <h3>AUDCTL</h3>
    <label class='yaba'>
      Bit7
      <input type='checkbox' ng-model='audctl[7]' ng-checked='audctl[7]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit6
      <input type='checkbox' ng-model='audctl[6]' ng-checked='audctl[6]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit5
      <input type='checkbox' ng-model='audctl[5]' ng-checked='audctl[5]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit4
      <input type='checkbox' ng-model='audctl[4]' ng-checked='audctl[4]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit3
      <input type='checkbox' ng-model='audctl[3]' ng-checked='audctl[3]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit2
      <input type='checkbox' ng-model='audctl[2]' ng-checked='audctl[2]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit1
      <input type='checkbox' ng-model='audctl[1]' ng-checked='audctl[1]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
    <label class='yaba'>
      Bit0
      <input type='checkbox' ng-model='audctl[0]' ng-checked='audctl[0]' name='audctl[]' ng-change='sendRegister("audctl", audctl)'>
    </label>
  </div>
  <script src="/node_modules/angular/angular.js"></script>
  <script src="angularApp.js"></script>
</body>
</html>